@*
    _DefaultFooterComponent
*@

<footer class="site-footer">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_DefaultFooterSocialComponent")
            <div class="col-lg-4 ps-lg-5">
                <div class="widget">
                    <h3 class="mb-4">Kurumsal</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Hizmetler</a></li>
                        <li><a href="#">Vizyon</a></li>
                        <li><a href="#">Misyon</a></li>
                        <li><a href="#">Şartlar</a></li>
                        <li><a href="#">Gizlilik</a></li>
                    </ul>
                    <ul class="list-unstyled float-start links">
                        <li><a href="#">İş Ortakları</a></li>
                        <li><a href="#">İş Dünyası</a></li>
                        <li><a href="#">Kariyer</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">SSS</a></li>
                        <li><a href="#">Kreatif</a></li>
                    </ul>
                </div>
            </div> <div class="col-lg-4">
                <div class="widget">
                    <h3 class="mb-4">Son Yazılar</h3>
                    <div class="post-entry-footer">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="images/img_1_sq.jpg" alt="Görsel yer tutucu" class="me-4 rounded">
                                    <div class="text">
                                        <h4>Erkekler İçin Çorap ve Sandalet Giymenin Yeni ve Havalı Yolu</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">15 Mart 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/img_2_sq.jpg" alt="Görsel yer tutucu" class="me-4 rounded">
                                    <div class="text">
                                        <h4>Erkekler İçin Çorap ve Sandalet Giymenin Yeni ve Havalı Yolu</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">15 Mart 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/img_3_sq.jpg" alt="Görsel yer tutucu" class="me-4 rounded">
                                    <div class="text">
                                        <h4>Erkekler İçin Çorap ve Sandalet Giymenin Yeni ve Havalı Yolu</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">15 Mart 2018 </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div> <div class="row mt-5">
            <div class="col-12 text-center">
                <p>
                    Telif Hakkı &copy;<script>document.write(new Date().getFullYear());</script>. Tüm Hakları Saklıdır. &mdash; <a href="https://untree.co">Untree.co</a> tarafından sevgiyle tasarlanmış, <a href="https://themewagon.com">ThemeWagon</a> tarafından dağıtılmaktadır.
                </p>
            </div>
        </div>
    </div>
</footer> ```