@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
}

<h1>Yeni Kategori Oluştur</h1>
 
<form method="post">
	<div class="form-group">
		<label>Kategori Adı</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Oluştur</button>
</form>