@model  UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kategori Güncelle</h1>

<form method="post">
	<div class="form-group">
		<input type="hidden" asp-for="Id" />
		<label>Kategori Adı</label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Güncelle</button>
</form>

