@model ResultUserDto
@*
    _BlogsWithWriterComponent
*@
<div class="sidebar-box">
    <div class="bio text-center">
        <img src="@Model.ImageUrl" alt="Image Placeholder" class="img-fluid mb-3">
        <div class="bio-body">
            <h2>@Model.FullName</h2>
            <p class="mb-4">@Model.Email</p>
            <p><a href="#" class="btn btn-primary btn-sm rounded px-2 py-2">Daha Fazlası</a></p>
        </div>
    </div>
</div>