@model ChangePasswordDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>ŞİFRE DEĞİŞTİR</h3>

<form method="post">

    <label>Mevcut şifreniz</label>
    <input type="password" asp-for="CurrentPassword" class="form-control" required/>
    <br />
    <label>Yeni şifreniz</label>
    <input type="password" asp-for="NewPassword" class="form-control" required />
    <br />
    <label>Yeni şifrenizi tekrar giriniz</label>
    <input type="password" asp-for="ConfirmPassword" class="form-control" required />
    <br />

    <span class="text-danger">@Html.ValidationSummary()</span>
    <button class="btn btn-outline-danger">Şifereyi Değiştir</button>
</form>